body{
  font-family: Arial, Helvetica, sans-serif;
}
table, td, tr{
  box-sizing: border-box;
}
.table {
  &__wrapper {
    max-width: 768px;
    width: 100%;
    background-color: #eae6e6;
    color: #333333;
    margin: 0 auto;
    tbody {
      .table{
        &__row{
          position: relative;
          overflow: hidden;
          height: 36px;
          width: 100%;
          cursor: pointer;
          &.active{
            height: 420px;
            .table__td {
              vertical-align: top;
              &.graph {
                display: block;
                position: absolute;
                top: 36px;
                left: 0;
                right: 0;
                height: calc(100% - 36px);
                background-color: #fff;
              }
            }
          }
          &-sub{
            .table__td:first-child{
              padding-left: 32px;
            }
          }
        }
        &__td{
          &.graph{
            display: none;
          }
        }
      }
    }
  }
  &__td{
    border: 1px solid #fff;
    padding: 12px 16px;
    text-align: right;
    box-sizing: border-box;
    white-space: nowrap;
    &:first-child{
      text-align: left;
    }
    &:nth-child(2){
      background-color: #dceffa;
    }
    &.positive{
      background-color: #cbeccb;
      .percent{
        color: green;
      }
    }
    &.negative{
      background-color: #f1cece;
      .percent{
        color: red;
      }
    }
    .percent{
      display: inline-block;
      min-width: 60px;
      font-weight: bold;
    }
  }
}


.highcharts-figure,
.highcharts-data-table table {
  min-width: 360px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tbody tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-description {
  margin: 0.3rem 10px;
}

